<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div id="enemy-health">
        
    </div>

    <% if (health > 0) { %>
    <p>Enemy Health: <%= health %></p>
    <% } else { %>
    <p>Enemy dead</p>
    <% } %>

    <script type="text/javascript">
        var enemy1 = {
            health: 1
        };

        var enemy2 = {
            health: 2
        };
        
        if (enemy1 == true) {
            
        } else {
            
        }

    </script>
</body>
</html>