<%- include('partials/header') %>

<link rel="stylesheet" href="/css/backgrounds.css">

    <h1>ERROR 404: OOPS - Couldn't find the page you were looking for.</h1>
    
<%- include('partials/footer') %>