<%- include('partials/header') %>

<link rel="stylesheet" href="/css/backgrounds.css">

<div class="navButtons">
    <ul>
        <li class="backButton"><a href="/"><<< Back</a></li>
        <li class="accountName"><a href="/account">Username</a></li>
    </ul>
</div>
<main id="account">
    <header>
        <h1>Account page</h1>
    </header>
    <div>
        <ul>
            <li><a href="/signup" class="menuLink">Sign up</a></li>
            <li><a href="/login" class="menuLink">Log in</a></li>
        </ul>
    </div>
</main>

