<%- include('partials/header') %>

<link rel="stylesheet" href="/css/backgrounds.css">

    <h1>Audio test page</h1>

    <!-- scripts -->
    <script src="/js/testing/audiotest.js"></script>

<%- include('partials/footer') %>