<%- include('partials/header') %>

    <h1>Audio test page</h1>

    <button class="init">Initialize</button>

    <!-- scripts -->
    <script src="/js/audiotest.js"></script>

<%- include('partials/footer') %>