<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/carouselTest.css">

    <h1>Carousel Test Page</h1>

    <button class="prev"><- Previous</button>
    <button class="next">Next -></button>

    <div class="carouselContainer">
        <div class="level" id="level1">
            <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            <span>Level 1</span>
        </div>

        <div class="level rightImg" id="level2">
            <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            <span>Level 2</span>
        </div>

        <div class="level hidden" id="level3">
            <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            <span>Level 3</span>
        </div>

        <div class="level hidden" id="level4">
            <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            <span>Level 4</span>
        </div>

        <div class="level leftImg" id="level5">
            <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            <span>Level 5</span>
        </div>
    </div>

    <!-- scripts -->
    <script src="/js/testing/carouselTest.js"></script>

<%- include('partials/footer') %>