<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/carouselTest.css">

    <h1>Carousel Test Page</h1>

    <button class="prev"><- Previous</button>
    <button class="next">Next -></button>

    <div class="carouselContainer">
        <div class="level" id="level1">level 1<img class="carouselImage" src="/img/GalleryConcept.png" alt=""></div>
        <div class="level hidden" id="level2">level 2<img class="carouselImage" src="/img/GalleryConcept.png" alt=""></div>
        <div class="level hidden" id="level3">level 3<img class="carouselImage" src="/img/GalleryConcept.png" alt=""></div>
        <div class="level hidden" id="level4">level 4<img class="carouselImage" src="/img/GalleryConcept.png" alt=""></div>
        <div class="level hidden" id="level5">level 5<img class="carouselImage" src="/img/GalleryConcept.png" alt=""></div>
    </div>

    <!-- scripts -->
    <script src="/js/testing/carouselTest.js"></script>

<%- include('partials/footer') %>