<%- include('partials/header') %>

<div class="navButtons">
    <ul>
        <li class="backButton"><a onclick="history.back()"><<< Back</a></li>
        <li class="accountName"><a href="account">Username</a></li>
    </ul>
</div>
<main id="credits">
    <header>
        <h1>Credits</h1>
    </header>
</main>