<%- include('partials/header') %>

<link rel="stylesheet" href="/css/backgrounds.css">

<div class="navButtons">
    <ul>
        <li class="backButton"><a class="menuLink" onclick="history.back()"><<< Back</a></li>
        <li class="accountName"><a href="account">Username</a></li>
    </ul>
</div>
<main id="credits">
    <header>
        <h1>Credits</h1>
        <p>Lots of content here huh</p>
    </header>
</main>