<%- include('partials/header') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/enemyClassTest.css">

    <h1>Enemy Class Test</h1>

    <!-- enemies "spawn" inside this div -->
    <div class="enemyContainer">
        <div class="slot1"></div>
        <div class="slot2"></div>
        <div class="slot3"></div>
        <div class="slot4"></div>
        <div class="slot5"></div>
    </div>

    <!-- scripts -->
    <script src="/js/testing/enemyClassTest.js"></script>

<%- include('partials/header') %>