<%- include('partials/header') %>

<main id="home">
    <header>
        <h1>The Shooting Gallery<span>v 0.1</span></h1>
    </header>
    <div>
        <ul>
            <li><a href="/levelSelect" class="menuLink">Level Select</a></li>
            <li><a href="/settings" class="menuLink">Settings</a></li>
            <li><a href="/account" class="menuLink">Account</a></li>
            <li><a href="/credits" class="menuLink">Credits</a></li>
        </ul>
    </div>
</main>
