<%- include('partials/header') %>

    <header>
        <h1>The Shooting Gallery<span>v 0.1</span></h1>
    </header>
    <div>
        <ul>
            <li>Level Select</li>
            <li>Settings</li>
            <li>Account</li>
            <li>Credits</li>
        </ul>
    </div>

