<%- include('partials/header') %>

<div class="navButtons">
    <ul>
        <!-- <li class="backButton"><a onclick="history.back()"><<< Back</a></li> -->
        <li class="accountName"><a href="account">Username</a></li>
    </ul>
</div>
<main id="home">
    <header>
        <h1>The Shooting Gallery<span>v 0.1</span></h1>
    </header>
    <div>
        <ul>
            <li><a href="/levelSelect" class="menuLink post"><span class="post-title">Level Select</span></a></li>
            <li><a href="/settings" class="menuLink">Settings</a></li>
            <li><a href="/account" class="menuLink">Account</a></li>
            <li><a href="/credits" class="menuLink">Credits</a></li>
        </ul>
    </div>
</main>
