<%- include('partials/header') %>
<link rel="stylesheet" href="/css/levelSelect.css">

<div class="navButtons">
    <ul>
        <li class="backButton"><a class="menuLink" onclick="history.back()"><<< Back</a></li>
        <li class="accountName"><a class="menuLink" href="account">Username</a></li>
    </ul>
</div>
<main id="levSelect">
    <header class="topHeader">
        <h1>Level Select</h1>
    </header>
    <!-- OLD CODE -->
    <!-- <div id="selectCarousel">
        <div class="carouselItem">
            <img src="img/GalleryConcept.png" alt="Background image">
            <ul>
                <li><h2>Shooting Range</h2></li>
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>
        <div class="carouselItem">
            <img src="img/GalleryConcept.png" alt="Background image">
            <ul>
                <li><h2>Shooting Range 2</h2></li>
                <li>Level type: Regular</li>
                <li>High-score: 3</li>
            </ul>
        </div>
        <div class="carouselItem">
            <img src="img/GalleryConcept.png" alt="Background image">
            <ul>
                <li><h2>Shooting Range 3</h2></li>
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <a class="carouselPrev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="carouselNext" onclick="plusSlides(1)">&#10095;</a>
    </div> -->

    <!-- NEW CODE -->
    <div class="carouselContainer">
        <a class="carouselBtn carouselPrev prev"> < </a>
        <a class="carouselBtn carouselNext next"> > </a>

        <div class="level centerImg" id="level1">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">The Shooting Range</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level rightImg" id="level2">
            <div class="carouselImageContain">
                <button class="startButton hidden">Play ></button>
                <img class="carouselImage" src="/img/CastleCrashers-img/CastleBackground.png" alt="">
            </div>
            <h2 class="levelDetails">Castle Crashers</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level3">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 3</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level4">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 4</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level5">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 5</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level6">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 6</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level7">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 7</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level8">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 8</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level hidden" id="level9">
            <div class="carouselImageContain">
                <button class="startButton">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 9</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>

        <div class="level leftImg" id="level10">
            <div class="carouselImageContain">
                <button class="startButton hidden">Play ></button>
                <img class="carouselImage" src="/img/GalleryConcept.png" alt="">
            </div>
            <h2 class="levelDetails">Level 10</h2>
            <ul class="levelDetailList">
                <li>Level type: Regular</li>
                <li>High-score: 0</li>
            </ul>
        </div>
    </div>
    <!--NOTE:
    Currently this page is mostly responsive down to 920 pixels. Higher resolutions above 1920x1080 have yet to be tested.
    -->
    <!-- IF ADDING NEW LEVELS:
        First level has classes "level"
        Second level has classes "level rightImg"
        Last level has classes "level leftImg"
        ALL LEVELS in the MIDDLE has classes "level hidden"
    -->
</main>

<script src="js/menu/levelSelect.js"></script>