<%- include('partials/header') %>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <div class="nameError"></div>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <div class="emailError"></div>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <div class="passError"></div>
    <br>
    <input type="submit" value="Submit">
</form>
<p>No account?</p>
<a href="/signup">Sign up here!</a>

<script>
    const form = document.querySelector("form");
    const nameError = document.querySelector(".nameError");
    const emailError = document.querySelector(".emailError");
    const passError = document.querySelector(".passError");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // gets form data
        const username = form.username.value;
        const email = form.email.value;
        const password = form.password.value;

        // gets error containers

        // post request
        try {
            nameError.textContent = "";
            emailError.textContent = "";
            passError.textContent = "";
            const res = await fetch("/login", {
                method : "POST",
                body : JSON.stringify({ username, email, password }),
                headers : { "Content-Type": "application/json" }
            });
            const data = await res.json();
            console.log(data);
            if(data.errors) {
                nameError.textContent = data.errors.username;
                emailError.textContent = data.errors.email;
                passError.textContent = data.errors.password;
            }
            if(data.users) {
                location.assign("/")
            }
        } catch (err) {
            console.log(err);
        }
    })
</script>

<%- include('partials/footer') %>