<%- include('partials/header') %>

<div class="navButtons">
    <ul>
        <li class="backButton"><a onclick="history.back()"><<< Back</a></li>
        <li class="accountName"><a href="account">Username</a></li>
    </ul>
</div>
<main id="settings">
    <header>
        <h1>Settings</h1>
    </header>
    <!-- VIDEO -->

    <!-- AUDIO -->

    <!-- DEV MODE -->

    <!-- ARCADE MODE -->

    <!-- BAD TIME -->
    <a class="bad_time" href="https://jcw87.github.io/c2-sans-fight/"><img src="/img/bad_time.png" width="30px"></a>
</main>