<%- include('partials/header') %>
<link rel="stylesheet" href="/css/settings.css">

<div class="navButtons">
    <ul>
        <li class="backButton"><a onclick="history.back()"><<< Back</a></li>
        <li class="accountName"><a href="account">Username</a></li>
    </ul>
</div>

<!-- settings buttons -->
<main id="settings">
    <header>
        <h1>Settings</h1>
    </header>

    <!-- settings popups -->
    <div class="settingsPopups">
        <div class="videoSettingsPopup hidden">
            <button class="closeButton" onclick="toggleVideoSettingsPopup(false);">X</button>

            <label for="colorblindMode">Color blind mode:</label>
            <input class="videoCheckColorblindMode" type="checkbox" name="colorblindMode">

            <label for="arcadeMode">Arcade mode:</label>
            <input class="videoCheckArcadeMode" type="checkbox" name="arcadeMode">
        </div>

        <div class="audioSettingsPopup hidden">
            <button class="closeButton" onclick="toggleAudioSettingsPopup(false);">X</button>

            <label for="musicSlider">Music: <span class="musicSliderDisplayValue"></span>%</label><br>
            <input class="audioSliderMusic" type="range" name="musicSlider" min="0" max="200" value="100"><br>
            
            
            <label for="weaponSlider">Weapons: <span class="weaponSliderDisplayValue"></span>%</label><br>
            <input class="audioSliderWeapon" type="range" name="weaponSlider" min="0" max="200">

            <label for="effectSlider">Sound Effects: <span class="effectSliderDisplayValue"></span>%</label>
            <input class="audioSliderEffects" type="range" name="effectSlider" min="0" max="200">
        </div>

        <div class="devModeSettingsPopup hidden">
            <button class="closeButton" onclick="toggleDeveloperModeSettingsPopup(false);">X</button>

            <label for="showHitboxes">Show hitboxes:</label>
            <input class="developerCheckHitboxes" type="checkbox" name="showHitboxes">

            <label for="enableConsole">Enable console:</label>
            <input class="developerCheckConsole" type="checkbox" name="enableConsole">
        </div>
    </div>

    <ul class="openPopupButtons">
        <!-- VIDEO -->
        <li><button class="videoToggleButton" onclick="toggleVideoSettingsPopup(true);"><h2>Video</h2></button></li>
        
        <!-- AUDIO -->
        <li><button class="audioToggleButton" onclick="toggleAudioSettingsPopup(true);"><h2>Audio</h2></button></li>
        
        <!-- DEV MODE -->
        <li><button class="devModeToggleButton" onclick="toggleDeveloperModeSettingsPopup(true);"><h2>Dev Mode</h2></button></li>
    </ul>
    </div>

    
    <!-- BAD TIME -->
    <a class="bad_time" href="https://jcw87.github.io/c2-sans-fight/"><img src="/img/bad_time.png" width="30px"></a>
    
    
</main>

<!-- scripts -->
<script src="/js/menu/settings.js" defer></script>