body.classTest {
    overflow: hidden;
    background-image: url("/img/CastleCrashers-img/CastleBackground.png") !important;
    background-size: 100%;
}

/* Main menu background */
body.main{
    background-image: url("/img/placeholderback1.png") !important;
}

/* Main shooting range background and scaleability */
body.shootingRange{
    overflow: hidden;
}

div.shootingRange {
    background-image: url("/img/GalleryConcept.png");
    background-position: center center;
    transform-origin: center;
    background-size:  cover;
    /* min-width: 1300px;
    background-repeat: no-repeat; */
}

@media screen and (max-width: 1250px) {
    div.shootingRange {
        background-size:  1500px;
        min-width: 1050px;
    }
}

@media screen and (max-width: 1050px) {
    div.shootingRange {
        background-size:  1350px;
        min-width: 850px;
    }
}