.hidden {
    display: none;
}

button {
    padding: 4px;
}

.carouselImage {
    width: 50%;
}

.carouselContainer {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.level {
    align-self: center;
    justify-self: center;
    display: grid;
    height: 100%;
    width: min-content;
}

.level span {
    width: max-content;
    justify-self: center;
}

.level img {
    width: 50vw;
}

.leftImg {
    position: absolute;
    right: 20%;
    z-index: -1;
}

.rightImg {
    position: absolute; 
    left: 20%;
    z-index: -1;
}

.rightImg img, .leftImg img {
    width: 25vw;
}

.hidden {
    display: none;
}