.hidden {
    display: none;
}

button {
    padding: 4px;
}

.carouselImage {
    width: 50%;
}

.carouselContainer {
    display: flex;
    text-align: center;
    align-items: center;
}

.leftImg {
    position: absolute;
    right: 50%;
    z-index: -1;
}

.rightImg {
    position: absolute;;
    left: 50%;
    z-index: -1;
}