body.classTest {
    overflow: hidden;
    background-size: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.playerHealthDisplay {
    display: none;

    padding: 10px;
    background: var(--background_color);
    border: 3px solid black;
    border-radius: 6px;

    width: 250px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 26px;
}

.playerHealthDisplay span {
    color: red;
}

.enemyContainer {
    text-align: center;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 19vw 15.5vw 15.4vw 15.4vw 15.5vw 19vw;
    /*Testing column values: 15vw 18.5vw 16.4vw; Fallback: 19vw 15.5vw 15.4vw*/
    grid-template-rows: 10.6vh 0.6fr 0.7fr 15.6vh;
    grid-auto-columns: 1fr;
    transform-origin: center;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "pointCounter . . . . exitButton"
        ". slot1 slot2 slot3 slot4 ."
        ". slot5 slot6 slot7 slot8 ."
        ". . . . . .";
}



@media screen and (max-width: 1700px) {
    .enemyContainer {
        width: 100%;
        height: 100vh;
        grid-template-columns: 16vw 17vw 17vw 17vw 17vw 16vw;
        grid-template-rows: 13vh 0.75fr 0.3fr 27.6vh;
        grid-auto-columns: 1fr;
    }
}

@media screen and (max-width: 1472px) {
    .enemyContainer {
        width: 100%;
        height: 100vh;
        grid-template-columns: 10.5vw 20vw 19.5vw 19.5vw 20vw 10.5vw;
        grid-template-rows: 13vh 0.75fr 0.3fr 27.6vh;
        grid-auto-columns: 1fr;
    }
}

@media screen and (max-width: 1250px) {
    .enemyContainer {
        width: 100%;
        height: 100vh;
        grid-template-columns: 10.5vw 20vw 19.5vw 19.5vw 20vw 10.5vw;
        grid-template-rows: 14vh 0.75fr 0.3fr 26.6vh;
        grid-auto-columns: 1fr;
    }
}

@media screen and (max-width: 1050px) {
    .enemyContainer {
        width: 100%;
        height: 100vh;
        grid-template-columns: 9.5vw 20vw 20.5vw 20.5vw 20vw 9.5vw;
        grid-template-rows: 14vh 0.75fr 0.3fr 26.6vh;
        grid-auto-columns: 1fr;
    }
}

@media screen and (max-width: 100vh) {
    .enemyContainer {
        display: block;
        background-image: none !important;
        background-size:  150px;
        min-width: 150px;
    }
}

.slot1{
    grid-area: slot1;
}
.slot2{
    grid-area: slot2;
}
.slot3{
    grid-area: slot3;
}
.slot4{
    grid-area: slot4;
}
.slot5{
    grid-area: slot5;
}
.slot6{
    grid-area: slot6;
}
.slot7{
    grid-area: slot7;
}
.slot8{
    grid-area: slot8;
}
.pointCounter{
    grid-area: pointCounter;
}
.exitButton{
    grid-area: exitButton;
}

.slot {
    display: inline-block;
    width: 100%;
    height: 300px;
    padding: 10px;
    text-align: center;
    align-items: center;

    position: relative;
}

.enemy {
    display: inline-block;
    width: 100px;

    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: none;
    border: none;

    cursor: pointer;

    user-select: none;
}