body.classTest {
    overflow: hidden;
    background-size: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.playerHealthDisplay {
    display: none;

    padding: 10px;
    background: var(--background_color);
    border: 3px solid black;
    border-radius: 6px;

    width: 250px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 26px;
}

.playerHealthDisplay span {
    color: red;
}

.enemyContainer {
    text-align: center;
    display: grid;
    grid-template-columns: 19vw 15.5vw 15.4vw 15.4vw 15.5vw 19vw;
    grid-template-rows: 10.6vh 1.4fr 1.4fr 10.6vh;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "pointCounter . . . . exitButton"
        ". slot1 slot2 slot3 slot4 ."
        ". slot5 slot6 slot7 slot8 ."
        ". . . . . .";
}

.slot1{
    grid-area: slot1;
}
.slot2{
    grid-area: slot2;
}
.slot3{
    grid-area: slot3;
}
.slot4{
    grid-area: slot4;
}
.slot5{
    grid-area: slot5;
}
.slot6{
    grid-area: slot6;
}
.slot7{
    grid-area: slot7;
}
.slot8{
    grid-area: slot8;
}
.pointCounter{
    grid-area: pointCounter;
}
.exitButton{
    grid-area: exitButton;
}

.slot {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 10px;
    text-align: center;
    align-items: center;

    position: relative;
}

.enemy {
    display: inline-block;
    width: 100px;

    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: none;
    border: none;

    cursor: pointer;
}