.startButton{
    position: absolute;
    margin-top: -20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -225%);
    -ms-transform: translate(-50%, -225%);
    /*FALLBACK: 
    top: 47%;
    transform: translate(-50%, -325%);
    */

    background-color: rgba(0, 0, 0, 0.621);
    padding: 10px 10px;
    font-size: 25px;
    color: #E97912;
    outline: solid;
    outline-color: #E97912;
    border-radius: 10px;
    transition-duration: 0.2s;
    transform-origin: bottom;
}
.startButton:hover{
    cursor: pointer;

    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.855);
    transition-duration: 0.2s;
    /*I want to have a transform: scale(1.1); here as well, it's just that... well, uncomment it and see for yourself*/
}

.carouselBtn {
    border: 2px solid #E97912;

    transition-duration: 0.1s;
}

.carouselBtn:hover,
.carouselBtn:focus {
    transform-origin: center;
    transition-duration: 0.1s;
    border-style: hidden;
}
.carouselBtn:active{
    transform-origin: center;
    transform: scale(0.8);
}

.carouselBtn.prev {
    left: 32%;
}

.carouselBtn.next {
    right: 32%;
}
.carouselPrev, .carouselNext {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    align-self: center;
    width: auto;
    margin-top: 450px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.501);
}
.carouselPrev:hover, .carouselNext:hover{
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.925);
}
.carouselNext {
    border-radius: 3px 0 0 3px;
} 

.carouselContainer {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.level {
    align-self: center;
    justify-self: center;
    display: grid;
    height: 100%;
    width: min-content;
}

.levelDetails {
    width: max-content;
    justify-self: center;

    font-family: "RhodiumRegular";
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 4px;
    list-style-type: none;
}
.levelDetailList{
    list-style-type: none;
    text-align: center;
    justify-self: center;
}
.levelDetailList li{
    font-size: 30px;
}


.level img {
    width: 35vw;
}

.centerImg{
    height: fit-content;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.leftImg {
    height: fit-content;
    position: absolute;
    left: 13%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.rightImg {
    height: fit-content;
    position: absolute; 
    right: 13%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.leftImg .levelDetails{
    margin-top: 0px;
    font-size: 20px;
}
.rightImg .levelDetails{
    margin-top: 0px;
    font-size: 20px;
}

.leftImg .levelDetailList{
    display: none;
}
.rightImg .levelDetailList{
    display: none;
}

.rightImg img, .leftImg img {
    width: 25vw;
}