.hidden {
    display: none;
}

button {
    padding: 4px;
}
.startButton{
    position: absolute;
    margin-top: -20px;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -325%);
    -ms-transform: translate(-50%, -325%);
}

/* .carouselImageContain {
    width: 100%;
    height: 100%;
    background-image:url("/img/GalleryConcept.png");
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "prev startButton next"
      ". . .";
} */
/*   
  .startButton { grid-area: startButton; }
  
  .next { grid-area: next; }
  
 .prev { grid-area: prev; } */
  
  

/* .selectImageContain{
    position: relative;
    width: 100%;
} */

.carouselImage {
    width: 50%;
}

.carouselBtn {

    padding: 20px;
    width: 1ch;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #E97912;

    transition-duration: 0.1s;
}

.carouselBtn:hover,
.carouselBtn:focus {
    transform-origin: center;
    transition-duration: 0.1s;
    border-style: hidden;
}
.carouselBtn:active{
    transform-origin: center;
    transform: scale(0.8);
}

.carouselBtn.prev {
    left: 32%;
}

.carouselBtn.next {
    right: 32%;
}
.carouselPrev, .carouselNext {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    align-self: center;
    width: auto;
    margin-top: 450px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.501);
}
.carouselPrev:hover, .carouselNext:hover{
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.925);
}
.carouselNext {
    right: 0;
    border-radius: 3px 0 0 3px;
} 

.carouselContainer {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.level {
    align-self: center;
    justify-self: center;
    display: grid;
    height: 100%;
    width: min-content;
}

.levelDetails {
    width: max-content;
    justify-self: center;

    font-family: "RhodiumRegular";
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 4px;
    list-style-type: none;
}
.levelDetailList{
    list-style-type: none;
    text-align: center;
    justify-self: center;
}
.levelDetailList li{
    font-size: 30px;
}


.level img {
    width: 35vw;
}

.centerImg{
    height: fit-content;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.leftImg {
    height: fit-content;
    position: absolute;
    left: 13%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.rightImg {
    height: fit-content;
    position: absolute; 
    right: 13%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.leftImg .levelDetails{
    margin-top: 0px;
    font-size: 20px;
}
.rightImg .levelDetails{
    margin-top: 0px;
    font-size: 20px;
}

.leftImg .levelDetailList{
    display: none;
}
.rightImg .levelDetailList{
    display: none;
}

.rightImg img, .leftImg img {
    width: 25vw;
}