.hidden {
    display: none;
}

button {
    padding: 4px;
}

.carouselImage {
    width: 50%;
}

.carouselBtn {
    position: absolute;

    padding: 10px;
    width: 7ch;
    background: #ffe;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid black;

    transition: scale 250ms ease-in-out;
}

.carouselBtn:hover,
.carouselBtn:focus {
    scale: 1.2;
    transition: scale 250ms ease-in-out;
    outline: none;
}

.carouselBtn.prev {
    left: 17%;
}

.carouselBtn.next {
    right: 17%;
}

.carouselContainer {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.level {
    align-self: center;
    justify-self: center;
    display: grid;
    height: 100%;
    width: min-content;
}

.levelDetails {
    width: max-content;
    justify-self: center;

    background: White;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.level img {
    width: 50vw;
}

.leftImg {
    height: fit-content;
    position: absolute;
    left: 10%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.rightImg {
    height: fit-content;
    position: absolute; 
    right: 10%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.rightImg img, .leftImg img {
    width: 25vw;
}