/* FONTS */
@font-face {
    font-family: "RhodiumRegular";
    src: url("/fonts/RhodiumLibre-Regular.ttf");
}
@font-face {
    font-family: "StardosBold";
    src: url("/fonts/StardosStencil-Bold.ttf");
}
@font-face {
    font-family: "StardosRegular";
    src: url("/fonts/StardosStencil-Regular.ttf");
}

/* VARIABLES */
:root {
    --background_color: #ffffdd;
}

/* RESET */
* :not(body) {
    margin: 0px;
    padding: 0px;
}

/* BODY */
body.main{
    background-image: url("/img/placeholderback1.png");
}
h1, h2, h3, h4, h5, h6, p, li, .menuLink, a{
    color: #E97912;
}
p, li, .menuLink, a{
    font-family: "RhodiumRegular";
}

.navButtons{
    position: relative
}
.navButtons ul li a{
    font-size: 20px;
}
.navButtons ul li{
    display: inline-block;
}
.backButton{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}
.backButton:hover{
    cursor: pointer;
}
.accountName{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

main#home{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

body.testing {
    background: var(--background_color);
}
.topHeader{
    text-align: center;
}

h1{
    font-family: "StardosBold";
    font-size: 60px;
    padding: 10px;
}
h1 span{
    padding: 10px;
    font-size: 20px;
}
ul li{
    font-size: 30px;
}

a.menuLink {
    text-decoration: none;
    transition-duration: 0.1s;
}

/*Smooth button hover FX*/
a.menuLink {
    outline-style: hidden;
    outline-width: 0px;
    box-shadow: inset 0 0 0 0 #E97912;
    color: #E97912;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .1s ease-in-out, box-shadow .2s ease-in-out;
  }
  a.menuLink:hover {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #E97912;
    color: #fff;
    box-shadow: inset 0px -5rem 1px 0px #E97912;
  }
  a.menuLink:active{
    box-shadow: inset 0px 0 1px 0px #E97912;
  }

#credits h1 {
    text-align: center;
    margin-top: 90px;
}


/*Image carousel styles*/

#selectCarousel {
    width: 50%;
    position: relative;
    margin: auto;
}
.carouselItem{
    display: none;
}
.carouselItem img{
    width: 100%;
}
.carouselItem ul li{
    list-style-type: none;
    text-align: center;
}
.carouselPrev, .carouselNext {
    cursor: pointer;
    position: absolute;
    align-self: center;
    width: auto;
    margin-top: -40px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.501);
}
.carouselPrev:hover, .carouselNext:hover{
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.925);
}
.carouselNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* SETTINGS */

#settings, header, h1{
    text-align: center;
    padding-top: 35px;
}

#settings, h2, a{
    margin: 25px 0px;
    font-size: 1.5rem;
    text-decoration: none;
}

.bad_time{
    position: absolute;
    margin-left: 500px;
    margin-top: 600px;
    opacity: 0;
}

.bad_time:hover{
    opacity: 100;
}
