/* FONTS */
@font-face {
    font-family: "RhodiumRegular";
    src: url("/fonts/RhodiumLibre-Regular.ttf");
}
@font-face {
    font-family: "StardosBold";
    src: url("/fonts/StardosStencil-Bold.ttf");
}
@font-face {
    font-family: "StardosRegular";
    src: url("/fonts/StardosStencil-Regular.ttf");
}

/* VARIABLES */
:root {
    --background_color: #ffffdd;
}

/* RESET */
* :not(body) {
    margin: 0px;
    padding: 0px;
}

/* BODY */
body {
    background: var(--background_color);
}

h1{
    font-family: "StardosBold";
}