/* FONTS */
@font-face {
    font-family: "RhodiumRegular";
    src: url("/fonts/RhodiumLibre-Regular.ttf");
}
@font-face {
    font-family: "StardosBold";
    src: url("/fonts/StardosStencil-Bold.ttf");
}
@font-face {
    font-family: "StardosRegular";
    src: url("/fonts/StardosStencil-Regular.ttf");
}

/* VARIABLES */
:root {
    --background_color: #ffffdd;
}

/* RESET */
* :not(body) {
    margin: 0px;
    padding: 0px;
}

/* BODY */
body.main{
    background-image: url("/img/placeholderback1.png");
}
h1, h2, h3, h4, h5, h6, p, li, .menuLink{
    color: #E97912;
}
p, li, .menuLink{
    font-family: "RhodiumRegular";
}
main#home{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

body.testing {
    background: var(--background_color);
}

h1{
    font-family: "StardosBold";
    font-size: 60px;
    padding: 10px;
}
h1 span{
    padding: 10px;
    font-size: 20px;
}
ul li{
    font-size: 30px;
}

a {
    text-decoration: none;
}